@model Dungeon_Dashboard.ContentGeneration.Models.NPC

<link rel="stylesheet" href="~/css/randomCharacterGenerator/contentPartials.css" />
<link rel="stylesheet" href="~/css/newSite.css" />
<div class="content-container">
    <div class="card card-npc">
        <h3>🧙 @Model.Name</h3>
        <p class="entity-description"><em>@Model.Description</em></p>
        <div class="card-content">
            <div class="stats-primary">
                <p><span class="icon">🎚️</span><strong>Level:</strong> @Model.Level</p>
                <p><span class="icon">🎭</span><strong>Role:</strong> @Model.Role</p>
                <p><span class="icon">❤️</span><strong>Health:</strong> @Model.Health</p>
                <p><span class="icon">🛡️</span><strong>AC:</strong> @Model.ArmorClass</p>
            </div>
            <div class="stats-attributes">
                <table class="attributes-table">
                    <tr>
                        <td><span class="icon">💪</span><strong>STR:</strong> @Model.Strength</td>
                        <td><span class="icon">🤸</span><strong>DEX:</strong> @Model.Dexterity</td>
                    </tr>
                    <tr>
                        <td><span class="icon">🏋️</span><strong>CON:</strong> @Model.Constitution</td>
                        <td><span class="icon">🧠</span><strong>INT:</strong> @Model.Intelligence</td>
                    </tr>
                    <tr>
                        <td><span class="icon">👁️</span><strong>WIS:</strong> @Model.Wisdom</td>
                        <td><span class="icon">🗣️</span><strong>CHA:</strong> @Model.Charisma</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>