@using Dungeon_Dashboard.Room.Models
@model RoomModel
@{
    ViewBag.Title = "Room 🏰 - " + Model.Name;
}
<link rel="stylesheet" href="~/css/rooms/room-details.css"/>
<link rel="stylesheet" href="~/css/style.css"/>
@* <link rel="stylesheet" href="~/css/layout.css"/> *@
<link rel="stylesheet" href="~/css/forms.css"/>

<script src="https://cdn.jsdelivr.net/npm/diff-match-patch@1.0.5/index.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<div class="room-header">
        <h5 class="title">Room - @Model.Name</h5>
        <p>
            <h7>📝 Description: @Model.Description</h7>
        </p>
        <h7>👤 Created by: @Model.CreatedBy</h7>
</div>

<div class="room-container">
    <aside>
        <div class="card">
            <div class="title card-header"><h5>Participants 🧑‍💻</h5></div>
            <div class="card-body">
                <ul id="participantsList" class="list-group list-group-flush"></ul>
            </div>
        </div>
    </aside>
    <main>
        <div class="card notes">
            <div class="title card-header"><h5>Notes 🗒️</h5></div>
            <div class="card-body">
                <div id="notesContainer"></div>
                <textarea id="newNoteContent" class="form-input" placeholder="New note..."></textarea>
                <button id="addNoteBtn" class="btn btn-primary">Add a note</button>
            </div>
        </div>

        <div class="card map">
            <div class="title card-header"><h5>Map 🗺️</h5></div>
            <div class="card-body">
                <div id="wrap" style="position: relative; display:inline-block;">
                    <img id="map" class="img-fluid"/>
                    <canvas id="grid"></canvas>
                    <div id="markers"></div>
                </div>

                @if (User.Identity.Name == Model.CreatedBy)
                {
                    <form id="mapUploadForm" enctype="multipart/form-data" class="mt-3">
                        <input type="file" name="file" accept="image/*" class="form-input"/>
                        <button type="submit" class="btn btn-submit">Upload map</button>
                    </form>
                }
            </div>
        </div>
    </main>

    <aside>
    </aside>
</div>


@section Scripts {
    <script>
        const roomId = @Model.Id;
        const userName = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(User.Identity.Name));
        const roomCreatedBy = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.CreatedBy));
        const allUsers = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Participants));

    </script>
    <script src="~/js/room/participants.js"></script>
    <script src="~/js/room/map.js"></script>
    <script src="~/js/room/notes.js"></script>
}