@model Dungeon_Dashboard.Models.CharacterModel
@using System.Globalization
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CharacterModel</h4>
    <a href="@Url.Action("GenerateCharacterPdf", "CharacterModels", new{ id=4 })" class="btn btn-primary">Generate PDF</a>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArmorClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArmorClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HitPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HitPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wisdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @{
                var skills = new List<string>();
                if(Model?.Skills != null && Model.Skills.Any()){
                    skills = Model.Skills
                    .Where(skill => !string.IsNullOrWhiteSpace(skill))
                    .Select(skill => CultureInfo.CurrentCulture.TextInfo.ToTitleCase(skill.ToLower())).ToList();
                    @string.Join(", ", skills)
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @{
                var eq = new List<string>();
                if (Model?.Equipment != null && Model.Equipment.Any()){
                    eq = Model.Equipment
                    .Where(equipment => !string.IsNullOrWhiteSpace(equipment))
                    .Select(equipment => CultureInfo.CurrentCulture.TextInfo.ToTitleCase(equipment.ToLower())).ToList();
                    @if(eq.Any()) {
                        @string.Join(", ", eq)
                    }
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory)
        </dt>
        <dd class = "col-sm-10">
            @{
                var inv = new List<string>();
                if(Model.Inventory != null) {
                    inv = Model.Inventory
                    .Where(inventory => !string.IsNullOrWhiteSpace(inventory))
                    .Select(inventory => CultureInfo.CurrentCulture.TextInfo.ToTitleCase(inventory.ToLower())).ToList();
                    @if(inv.Any()) {
                        @string.Join(", ", inv)
                    }
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Copper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Copper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Silver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Silver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electrum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electrum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platinum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platinum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
