@using Dungeon_Dashboard.PlayerCharacters
@using Dungeon_Dashboard.PlayerCharacters.Models
@model IEnumerable<CharacterModel>

@{
    ViewData["Title"] = "Characters";
}

<h1>Characters👤</h1>
<hr />
<link rel="stylesheet" href="~/css/CharacterIndex.css" />
<p>
    <a asp-action="Create" class="btn btn-primary w-100">Create New</a>
</p>
<div id="main">
<div class="character-grid">
        @{
            var userNameFull = User.Identity.Name;
            var userName = "";
            if(!string.IsNullOrEmpty(userNameFull)) {
                userName = userNameFull.Split('@')[0];
            }

            var userCharacters = Model.Where(item => item.CreatedBy == userName);
        }
        @if(!userCharacters.Any()) {
            <div class="character-card placeholder-card">
                <h2>No characters found</h2>
                <p>You have not created any characters yet. Click "Create New" to get started!</p>
            </div>
        }else{

        @foreach(var item in Model) {
            string emoji = "";

            if(item.Class == Classes.Barbarian) {
                emoji = "💪";
            } else if(item.Class == Classes.Bard) {
                emoji = "🎵";
            } else if(item.Class == Classes.Cleric) {
                emoji = "🙏";
            } else if(item.Class == Classes.Druid) {
                emoji = "🌿";
            } else if(item.Class == Classes.Fighter) {
                emoji = "⚔️";
            } else if(item.Class == Classes.Monk) {
                emoji = "🧘";
            } else if(item.Class == Classes.Paladin) {
                emoji = "🛡️";
            } else if(item.Class == Classes.Ranger) {
                emoji = "🏹";
            } else if(item.Class == Classes.Rogue) {
                emoji = "🗡️";
            } else if(item.Class == Classes.Sorcerer) {
                emoji = "✨";
            } else if(item.Class == Classes.Warlock) {
                emoji = "🔮";
            } else if(item.Class == Classes.Wizard) {
                emoji = "📖";
            } else {
                emoji = "❓";
            }
            if(userName == item.CreatedBy){
            <div class="character-card">
                <h2 style="color: #8a6de6">@item.Name</h2>
                <p><strong>@($"{emoji}Class: ")</strong>@item.Class</p>
                <p><strong>📈Level: </strong>@item.Level</p>
                <p><strong>📝Created by: </strong>@item.CreatedBy</p>
                <div class="character-card-actions">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-lg">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-lg">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary btn-lg">Delete</a>
                </div>
            </div>
            }
        }
        }
</div>
</div>